/*  your css code here. If applicable */
body{
	background:#f8f8f8;
}

.book-library{
	box-shadow: 0 0 10px 0 #000000;
	background:#ffffff;
	margin-left:25px;
	margin-right:25px;
}

.title{
	text-align:center;
	background:#f8f8f8;
	margin-bottom:10px;
}
.book img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.price-block{
	background:#2ecc71;
	color:#fff;
	outline:none;
	border:none;
	width:100%;
}
.book{
	padding-top:18px;
	background:#f8f8f8;
}
